html {
    font-family: 'Red Hat Display', sans-serif;
    height: 100%;
}

body {
    margin:0;
    min-height: 100%;
    background-image: url("../../CorsaceAssets/img/ayim-mca/site/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}